.nav {
    text-align: center;
    background-color: black;
    height: 3rem;
    width: 100vw;
    font-size: large;
    padding: 1rem 0;
    justify-content: center;
}

.link {
    color: white;
    margin: 2rem;
    text-decoration: none;
}

.link:hover {
    color: chartreuse;
}

/* class יצירת 
הפעיל link שריאקט תזהה אותו ותפעיל אותו עבור ה  */
.active {
    color: purple;
    font-size: larger;
}