.nav {
    text-align: center; 
    display: flex;
    float: left;
    margin-left: 405px;
    justify-content: center;
    margin-top: 10px;
    background-color:transparent;
    font-size:x-large;
  }

.link {
    color:#E9E2D8 ;
    margin: 2rem;
    text-decoration: none;
}

.link:hover {
}


.active {
    color: rgb(15, 12, 15);
    font-size: larger;
}